<div class="home-container">
  
    <div class="home-col">
      <img
        src="https://cdni.iconscout.com/illustration/premium/thumb/task-result-5649085-4707141.png"
        alt="img"
      />
    </div>
    <div class="home-col ">
      <p class="text">Login as</p>
      <div class="teachLog">
        <button type="button" class="btn">
          <a href="/teacher/login">Teacher Login</a>
        </button>

        <button type="button" class="btn">
          <a href="/student/login">Student Login</a>
        </button>
      </div>
    </div>
  
</div>
